* {
    padding: 0;
    margin: 0;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4b1908;
    color: white;
}

a {
    color: white;
}

i {
    display: none !important;
}
.mobile{
    display: none;
}

#hero {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/932577/pexels-photo-932577.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}

#hero h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #f9472b;
}

#hero h2 {
    font-size: 3rem;
    font-weight: bold;
    color:#0e165f;
}

.circle {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

#about h1 {
    font-size: 3rem;
}

footer {
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
   #nav h1{
    padding: 0.8rem;
   }
    .right {
        display: none;
    }

    i {
        display: flex !important;
    }
    .mobile{
        display: none;
        flex-direction: column;
        width: 10rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #131313;
        padding: 1rem;
        transition: 2sec ease-in;
    }
    a{
        margin: 1rem 2rem;
        padding: 1rem;
        border-bottom: 1px solid #fff;
        color: white;
        text-align: center;
    }
    .fa-xmark{
        color: white;
        display: block !important;
        text-align: end !important;
    }

    #hero h1 {
        font-size: 3rem;
        text-align: center;
    }

    #hero h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 2rem;
    }
    #hero .btn{
        margin-top: 3rem;
    }
    
}